@import "http://fonts.googleapis.com/css?family=Inconsolata"

body {
    background-color: #fff;
    color: #222222;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Georgia;
    word-wrap: break-word;
}

#container {
   min-height: 100%;
   position: relative;
}

#wrap {
   width: 960px;
   margin: 0 auto;
   float: left;
   padding-bottom: 60px;
   padding: 10px;
}


h1 {
   font-weight: normal;
   font-size: 1.5em;
   margin-bottom: 0;
   line-height: 1.25;
   white-space: nowrap;
   color: #000;
}

h1 a {
   color: #000 !important;
}

h2 {
   font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 1.25;
}

#related h2 {
   padding-bottom: 15px;
}

.buttons h2 {
   padding-bottom: 15px;
}

pre {
   border: 3px solid grey;
   font-size: 16px;
   padding: 10px;
}

code {
   font-family: Inconsolata;
   background-color: lightgrey;
}

pre code {
   background-color: transparent;
}

#related li {
   /* padding-left: 15px; */
}

#related {
   padding-bottom: 40px;
}

article {
    display: block;
    font-family: Georgia, serif;
    line-height: 1.6;
    margin-top: 3em;
   text-align: justify;
}

article header { color: #888; }
article header p { margin: 0; }
article header a { text-decoration: none; }

article.link header h2 a,
article.link header h2 a:active,
article.link header h2 a:visited { 
    color: #268bd2;
    text-decoration: underline; 
}

article img {
	border:2px solid #000;
	padding:1px;
	background:#FFF;
}

blockquote { 
    margin: 0 18px 18px 18px;
    color:#666;
    padding-left:10px;
    border-left:4px solid #eee;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #268bd2;
}

a:hover {
  color: #073642;
}

h2 a,
h2 a:active,
h2 a:visited {
    color: #000;
    text-decoration: none;
}

section#post { 
   float: left;
   width: 500px; 
   margin-left: 90px;
   margin-top: -66px;
}

ul#rss {
   list-style:none;
   padding-bottom: 100px;
   margin:0;
   margin-top: -110px;
   overflow:hidden;
   font:0.875em/1 Arial, sans-serif;
}

ul#rss li {
   float:right;
   width:66px;
   height:66px;
   margin:20px 20px 0 0;
}

ul#rss li a {
   display:block;
   width:64px;
   height:64px;
   overflow:hidden;
   border:1px solid transparent;
   line-height:64px;
   text-decoration:none;
   /* css3 */
   text-shadow:0 -1px 0 rgba(0,0,0,0.5);
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px; /* standards version last */
}

ul#rss li a:hover,
ul#rss li a:focus,
ul#rss li a:active {
   opacity:0.8;
   border-color:#000;
}

.rss a {
   position:relative;
   width:60px;
   padding:0 2px;
   border-color:#ea6635;
   text-transform:lowercase;
   text-indent:-186px;
   font-size:64px;
   font-weight:bold;
   color:#fff;
   background:#e36443;

   /* css3 */
   -moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
   -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
   box-shadow:0 0 4px rgba(0,0,0,0.4);
   background:-webkit-gradient(linear, left top, left bottom, from(#f19242), to(#e36443));
   background:-moz-linear-gradient(top, #f19242, #e36443);
   background:linear-gradient(top, #f19242, #e36443);
}

.rss a:before,
.rss a:after {
   content:"";
   position:absolute;
   bottom:10px;
   left:10px;
}

/* create circle */
.rss a:before {
   width:12px;
   height:12px;
   background:#fff;
   /* css3 */
   -moz-border-radius:12px;
   -webkit-border-radius:12px;
   border-radius:12px;
}

/* create the two arcs */
.rss a:after {
   width:22px;
   height:22px;
   border-style:double;
   border-width:24px 24px 0 0;
   border-color:#fff;
   /* css3 */
   -moz-border-radius:0 50px 0 0;
   -webkit-border-radius:0 50px 0 0;
   border-radius:0 50px 0 0;
}

#sidebar {
  float: left;
  top: 40px;
  left: 20px;
  width: 200px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
}

#nav {
   float: right;
   display: inline;
}

#sidebar h2 {
   float: right;
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
   text-align:right;
   list-style-type: none;
   /* margin: 20px 0; */
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}

#footer {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    clear: both; 
    border-top: 1px solid #C2D1E1;
    color: #a0acba;
    padding: 4px 0px;
    height: 60px;
    font-family: sans-serif;
    font-size: 0.75em;
    text-align: right;
    background: #f5f9ff;
    vertical-align: middle;
    line-height: 31px;
    overflow: hidden; 
}


#footer b {
    font-family: sans-serif;
}

#footer img {
    vertical-align: middle;
    padding-left: 10px;
}

#footer p {
    padding: 0 20px;
    margin: 0;
}

#footer p.part-1 {
    float:left;
}

#footer p.part-2 {
    float:right;
}
