---
layout: default
title: Let's talk shop, let's talk operating systems.
---

<section id="post">
  <article>
    <header>
      <h1><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h1>
      <p><time datetime="{{ site.posts.first.date | date:'%F' }}" pubdate="pubdate">{{ site.posts.first.date | date:"%B %d, %Y" }}</time></p>
    </header>
    {{ site.posts.first.content }}
  </article>
  <div id="right">
  (<a href="http://os-blog.com{{ site.posts.first.url }}#disqus_thread">First article</a>)
  </div>

  <div id="related">
    <h2> Recent Posts </h2>
    <ul>
    {% for post in site.posts limit:5 %}
	  {% if post.hidden != true %}
      <li class="posts"><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endif %}
    {% endfor %}
    </ul>
  </div>
</section>

<script type="text/javascript">
    var disqus_shortname = 'os-blog'; // required: replace example with your forum shortname

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
