<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }} - OS Blog</title>
  <meta name="author" content="Robert Seaton" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12517909-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
	
<body>
<script type="text/javascript">
   var disqus_developer = 1;
</script>
  <a href="/"><img src="/img/header.jpg" alt="header" /></a>
  <ul id="rss">
    <li class="rss"><a href="http://feeds.feedburner.com/os-blog/H" title="Subscribe to the RSS feed">RSS</a></li>
  </ul>
  <div id="sidebar">
    <div id="nav">
    <h2>Navigation</h2>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/articles.html">articles</a></li>
    </ul>
    <h2>Contact</h2>
    <ul>
      <li><a href="https://twitter.com/#!/robbseaton">@robbseaton</a></li>
      <li><a href="seatonr@dupage.edu">email</a></li>
    </ul>
    </div>
  </div>
<section id="post">
  <article>
    <header>
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <p><time datetime="{{ page.date | date_to_xmlschema }}" pubdate="pubdate">{{ page.date | date:"%B %d, %Y" }}</time></p>
    </header>
    {{ content }}
  </article>
<div class="buttons">
  <h2> Share this! </h2>
  <script type="text/javascript">
    reddit_url = '{{ page.url }}'
    reddit_title = '{{ page.title }}'
    reddit_target = '{{ page.reddit_community }}'
  </script>
  <script type="text/javascript" src="http://www.reddit.com/static/button/button3.js"></script>
  <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="robbseaton">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script src="http://www.stumbleupon.com/hostedbadge.php?s=5"></script>
</div>

<p> Enjoyed this article? Subscribe to our <a href="http://feeds.feedburner.com/os-blog/H">RSS feed</a> or <a href="http://eepurl.com/gIQ-P">email newsletter.</a> </p>

  <div id="related">
    <h2> Related Posts </h2>
    <ul>
    {% for post in site.related_posts limit:5 %}
	  {% if post.hidden != true %}
      <li class="posts"><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endif %}
    {% endfor %}
    </ul>
  </div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'os-blog'; // required: replace example with your forum shortname
    var disqus_identifier = "{{ post.title }}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink" rel="nofollow">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</section>
</body>
</html>
